@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
  background-image: url(../img/stars.svg);
  background-size: cover;
  background-attachment: fixed;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

.glass-card {
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.742);
  backdrop-filter: blur(10px);
}

.creator-img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}